p{
    font-style: normal;
    font-family: Montserrat;
}
.Model {
    font-weight: bold;
    text-align: center;
    font-size: 30px;
    margin-bottom: 5px;
    text-decoration: solid;
}
.Order {
    font-size: 20px;
    text-align: center;
}
.Touch {
    text-decoration: underline;

}